.a1 {
    font-weight: 700;
    font-size: larger;
}
.a2 {
    font-weight: 700;
    font-size: larger;

}
.a3 {
    font-weight: 700;
    font-size: larger;

}
.a4 {
    font-weight: 700;
    font-size: larger;

}
.a5 {
    font-weight: 700;
    font-size: larger;

}
.a6 {
    font-weight: 700;
    font-size: larger;

}